<head>

<style>
  
  body{
    background-color:yellow;
  }
  
  ul{
    color:purple;
  }
  
  
</style>
  
 <body>
  
  <h1>
  Asilo nido "La casa sull'albero'"
    </h1>
  <p>
    
    Lo staff educativo è composto da figure di comprovata professionalità in numero adeguato all’utenza e che assicurano la qualità del servizio attraverso la continuità didattica. La scuola si avvale, inoltre, della consulenza medica e psicopedagogica di professionisti operanti nel settore e si pone, prioritariamente, come spazio di socializzazione ricco di affettività per il bambino, nel pieno rispetto della sua professionalità e del suo contesto di vita, incentivando il contatto e la collaborazione con la famiglia. 
Le metodologie operative si compongono di programmi generali elaborati preventivamente dall’intero staff

<p>
  <img src="http://www.villagrimani.it/imgup/foto/Asilo_nido.bmp">
</p>

ed eventualmente integrati e/o corretti in funzione delle esigenze contingenti. Gli obiettivi ,elaborati per fasce di età, sono rivolti a contestualizzare le indicazioni del Progetto Educativo ed a realizzarle in base alle competenze e ai traguardi di sviluppo evidenziati attraverso la definizione delle competenze di Ingresso ed al progressivo sviluppo delle potenzialità cognitive.
Finalità ed obiettivi comuni: Nido – Sezione Primavera – Scuola Infanzia
Le finalità e gli obiettivi sono la promozione e la formazione integrale della personalità del bambino. La formazione dei bambini, come soggetti di diritto, si può raggiungere in ambienti di vita e contesti educativi quali STRUTTURE PER LA PRIMA INFANZIA e FAMIGLIA. La cooperazione integrata, infatti, permette al bambino il pieno raggiungimento delle finalità:
    
  </p>   
   
   <p>
     
    <ul>
      <li>La maturazione dell’identità personale</li>
      <li>La conquista dell’autonomia</li>
      <li>Lo sviluppo delle competenze</li>
      <li> Lo sviluppo della cittadinanza</li>
     
  
    </ul> 
   </p>
   
   
 </body>
  
  
  
  
  
  
  
  

</head>
