<head>

<style>
 
 body{
  background-color:purple;
  
 }
 
 
</style>

<body> 

 <p>
 
 <h1>Sezione Primavera
per i bambini dai 24 ai 36 mesi</h1>

La Sezione Primavera è un ambiente educativo che vuole offrire ai bambini al di sotto dei tre anni di età un qualificato momento di preparazione e introduzione alla scuola dell'infanzia.
Si propone di offrire ai bambini un luogo dove crescere sereni socializzando e sviluppando le loro potenzialità cognitive affettive e sociali attraverso attività atte a stimolare:

 <ul>
   <li>la comunicazione;</li>
   <li>la motivazione all’uso sempre più proprio del linguaggio come mezzo cognitivo;</li>
   <li>l’attitudine ad un’osservazione che porti a conoscere ed ad approfondire i particolari più significativi;</li>
   <li>il controllo delle emozioni;</li>
   <li>apertura alla multiculturalità.</li>
 
 </ul>
 
 </p>








</body>






</head>
